/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset"
@import "960/grid"
@import "compass/typography/lists/horizontal-list"


body
  background-image: url("/assets/background.png")
  h1
    font-size: 2.5em
  h2
    font-size: 1.7em
  h3
    font-size: 1.4em
  h4
    font-size: 1.2em
  h5
    font-size: 1.1em

#logo
  +grid(12)
  img
    +grid_prefix(3,12)
    +grid(6,12)

#header
  +grid(12)
  +clearfix
  ul
    +grid_prefix(5,12)
    +grid(4,12)
    +horizontal-list

#container
  +grid(12)
  +clearfix
  margin-top: 20px
  p
    padding: 5px
    //line-height: 1.3em

.user
  +clearfix
  background-color: #dddddd
  padding: 10px
  margin: 10px 0px
  img
    +float-left
  .user-info
    +float-left
    margin-left: 10px

#newest_users
  +clearfix
  +grid(12,12)
  margin-top: 25px

#newest_remote_users
  +grid-prefix(1,12)
  +grid(4,12)

#newest_local_users
  +grid-prefix(2,12)
  +grid(4,12)

#search
  +clearfix
  +grid-prefix(9,12)
  +grid(3,12)

#user-profile
  label
    font-weight: bold
