<h3>Interested in...</h3>
<label>
  Remote pairing:
  <%= @profile.interested_in_remote == "1" ? "Yes" : "No" %>
</label>
<label>
  In-person pairing:
  <%= @profile.interested_in_local == "1" ? "Yes" : "No" %>
</label>


