- CommentPresenter.new(comment, self).render do
  .comment-form
    = image_tag current_user_gravatar_image_url(60), class: :avatar

    = form_for new_comment_path do |f|
      = f.text_area :body
      %br
      .button.right= f.submit
