%li.user
  .user-image
    %a{href: user_path(user)}
      = gravatar_image(user)
      %span.magnifying-glass
  .user-info
    %h4.user-name= user.name
    %h4.github-login= github_url(user)
    - if user.twitter
      %h4.twitter-handle= twitter_url(user)
