#about
  %h2 Our little experiment

  %p
    %a{href: "/"} Ruby Pair
    began with an idea of
    %a{href: "http://twitter.com/rubygeekdotcom"} Nola Stowe's
    while at
    %a{href: "http://www.lonestarrubyconf.com/"} Lone Star Ruby Conf 2011
    to help developers who would like to pair together find each other.
    She told a few people about her idea; some of them mentioned this
    %a{href: "http://twtitter.com/elight"} Evan Light
    guy who had been remote pairing with people a lot at the time.
    Nola found Evan and they immediately started pairing on the beginning of Ruby Pair.

  %p
    Since LSRC '11, Evan went kind of hog wild working on Ruby Pair -- especially while playing with
    %a{href: "http://sass-lang.com"} SASS
    and
    %a{href: "http://compass-style.org"} Compass.
    Evan's pal,
    %a{href: "http://twitter.com/djbrowning"} David Browning,
    was awesome enough to mock up a design and shepherd Evan through UI choices to keep the app
    from becoming fugly.  A few weeks later with Evan hacking at random hours of the night,
    and an outside contribution here and there, and Ruby Pair launched!

  %p
    In a nutshell, we're about helping kindred developer spirits find one another.

  %p
    For now, Ruby Pair is a seachable directory of developers who are looking to pair, in-person or remotely,
    on topics that they've expressed an interest in through their profile.  Longer term, we're planning on
    adding recommendation features to more actively help developers find people nearby them, for
    in-person pairing, and with similar interests.

  %p
    And there was much rejoicing, just like
    %a{href: "http://www.youtube.com/watch?v=enSYlCEz5VI"} when we were forced to eat Sir Robin's minstrels
    (but that's another story...).

  #credit
    #credits
      %h2 Credits

      %p
        Ruby Pair is written and maintained by
        %a{href: "http://twitter.com/elight"} Evan Light
        with increasing amounts of help from others.

    #contributors
      %h3 Contributors

      %ul
        %li
          %a{href: "http://twitter.com/rubygeekdotcom"} Nola Stowe
        %li
          %a{href: "http://twitter.com/djbrowning"} David Browning
        %li
          %a{href: "http://twitter.com/pedm"} Pat Moran
        %li
          %a{href: "http://twitter.com/lenary"} Sam Elliott
        %li
          %a{href: "http://twitter.com/tundal45"} Ashish Dixit
