#search
  = form_tag "/search", method: :get do
    = text_field_tag "query", nil, class: "search-field", placeholder: "Search...", size: 35

#newest_users
  #newest_remote_users
    %h2 Remote developers
    %ul
      = render @newest_remote_users
  #newest_local_users
    %h2 In-Person developers
    %ul
      = render @newest_local_users
