- content_for :title, "Updates"

= render 'layouts/searchbox'

#users
  #new_users
    %h2 New <span class="pairing-type">Users</span>
    %ul
      = render @newest_users
    #paginator
      = paginate @newest_users, :remote => true


  #available_users
    %h2 Available <span class="pairing-type">Users</span>
    %ul
      = render @available_users
