- content_for :title, "Search: #{params[:query]}"

= render 'layouts/searchbox'

#search-page

  - if @users.empty?
    %h2 Sorry, nothing found
    
  - else
    %h2 Search results
    
    %ul
      - @users.each do |user|
        = render user
