/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rubypair/bundler/gems/compass-8a407a6df78e/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rubypair/bundler/gems/compass-8a407a6df78e/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rubypair/bundler/gems/compass-8a407a6df78e/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rubypair/bundler/gems/compass-8a407a6df78e/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rubypair/bundler/gems/compass-8a407a6df78e/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rubypair/bundler/gems/compass-8a407a6df78e/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rubypair/bundler/gems/compass-8a407a6df78e/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rubypair/bundler/gems/compass-8a407a6df78e/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../.rvm/gems/ruby-1.9.2-p290@rubypair/bundler/gems/compass-8a407a6df78e/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Myriad Pro Italic";
  src: url("/assets/MYRIADPRO-CONDIT.OTF") format("opentype");
}

@font-face {
  font-family: "Myriad Pro";
  src: url("/assets/MYRIADPRO-REGULAR.OTF") format("opentype");
}

@font-face {
  font-family: "League Gothic";
  src: url("/assets/League-Gothic.otf") format("opentype");
}

/* line 25, ../../../sass/application.sass */
body {
  background-image: url("/assets/background.png");
  font-family: "Myriad Pro";
  font-size: 16px;
}
/* line 29, ../../../sass/application.sass */
body h1 {
  font-size: 2.5em;
}
/* line 31, ../../../sass/application.sass */
body h2 {
  font-size: 1.7em;
}
/* line 33, ../../../sass/application.sass */
body h3 {
  font-size: 1.4em;
}
/* line 35, ../../../sass/application.sass */
body h4 {
  font-size: 1.2em;
}
/* line 37, ../../../sass/application.sass */
body h5 {
  font-size: 1.1em;
}

/* line 40, ../../../sass/application.sass */
#wrapper {
  width: 980px;
  margin: 0 auto;
}

/* line 44, ../../../sass/application.sass */
#header {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  overflow: hidden;
  *zoom: 1;
}
/* line 47, ../../../sass/application.sass */
#header #logo {
  overflow: hidden;
  *zoom: 1;
  position: relative;
}
/* line 50, ../../../sass/application.sass */
#header #logo img {
  padding-left: 240px;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 460px;
}
/* line 53, ../../../sass/application.sass */
#header a#signin {
  position: absolute;
  top: 225px;
  padding-left: 382.4px;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
}
/* line 58, ../../../sass/application.sass */
#header #menu {
  padding-left: 382.4px;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
}

/* line 62, ../../../sass/application.sass */
#container {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  overflow: hidden;
  *zoom: 1;
  margin-top: 40px;
}
/* line 66, ../../../sass/application.sass */
#container #search {
  padding-left: 395.2px;
  z-index: 1;
  position: absolute;
  width: 169px;
}
/* line 71, ../../../sass/application.sass */
#container #search input {
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  -o-border-radius: 4px / 4px;
  -ms-border-radius: 4px / 4px;
  -khtml-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  font-family: "Myriad Pro";
  font-size: 1em;
  width: 156px;
}
/* line 76, ../../../sass/application.sass */
#container #newest_users {
  overflow: hidden;
  *zoom: 1;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  position: relative;
}
/* line 80, ../../../sass/application.sass */
#container #newest_users h2 {
  text-align: center;
  font-size: 1.4em;
  color: #848484;
}
/* line 84, ../../../sass/application.sass */
#container #newest_users h2 .pairing-type {
  font-size: 1.1em;
  font-family: "Myriad Pro Italic";
  color: #1e1f1e;
}
/* line 88, ../../../sass/application.sass */
#container #newest_users #newest_remote_users {
  padding-left: 120px;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
}
/* line 91, ../../../sass/application.sass */
#container #newest_users #newest_local_users {
  padding-left: 240px;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
}

/* line 100, ../../../sass/application.sass */
.user {
  overflow: hidden;
  *zoom: 1;
  font-family: "League Gothic";
  color: black;
  padding: 10px;
  margin: 10px 0px;
}
/* line 106, ../../../sass/application.sass */
.user .user-image {
  display: inline;
  float: left;
  position: relative;
}
/* line 109, ../../../sass/application.sass */
.user .user-image img.gravatar {
  border: 1px solid #a9a7a3;
}
/* line 111, ../../../sass/application.sass */
.user .user-image .magnifying-glass {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  position: absolute;
  top: 0px;
  left: 0px;
  visibility: hidden;
  height: 80px;
  width: 80px;
}
/* line 119, ../../../sass/application.sass */
.user .user-image:hover .magnifying-glass {
  visibility: visible;
  background-color: black;
}
/* line 122, ../../../sass/application.sass */
.user .user-info {
  display: inline;
  float: left;
  margin-left: 10px;
}
/* line 125, ../../../sass/application.sass */
.user .user-info a {
  text-decoration: none;
  color: black;
}
/* line 128, ../../../sass/application.sass */
.user .user-info h4 {
  line-height: 26px;
}
/* line 130, ../../../sass/application.sass */
.user .user-info .user-name {
  text-transform: uppercase;
}
/* line 132, ../../../sass/application.sass */
.user .user-info .github-login {
  font-family: "Myriad Pro Italic";
  padding-left: 27px;
  margin-top: 1px;
  background: url("/assets/github-profile.png") no-repeat;
}
/* line 135, ../../../sass/application.sass */
.user .user-info .twitter-handle {
  font-family: "Myriad Pro Italic";
  padding-left: 27px;
  margin-top: 1px;
  background: url("/assets/twitter-profile.png") no-repeat;
}

/* line 140, ../../../sass/application.sass */
#user-profile label {
  font-weight: bold;
}
