/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset"
@import "960/grid"
@import "compass/typography/links/link-colors"
@import "compass/typography/lists/horizontal-list"
@import "compass/css3/border-radius"
@import "compass/css3/opacity"

$link-color: #E33052

@import "preboot.css.scss"
@import "form.css.scss"

a
  +link-colors($link-color)
  text-decoration: none

@font-face
  font-family: 'Myriad Pro Italic'
  src: url('/fonts/MYRIADPRO-CONDIT.OTF') format('opentype')

@font-face
  font-family: 'Myriad Pro'
  src: url('/fonts/MYRIADPRO-REGULAR.OTF') format('opentype')

@font-face
  font-family: 'League Gothic'
  src: url('/fonts/League-Gothic.otf') format('opentype')

body
  background-image: url("/assets/background.png")
  font-family: 'Myriad Pro'
  font-size: 16px
  h1
    font-size: 2.5em
  h2
    font-size: 1.7em
  h3
    font-size: 1.4em
  h4
    font-size: 1.2em
  h5
    font-size: 1.1em

#wrapper
  +grid-container

#header
  +grid(12)
  +clearfix
  #logo
    +clearfix
    position: relative
    img
      +grid-prefix(3,12)
      +grid(6,12)
      +grid-suffix(3,12)
  a#signin
    position: absolute
    top: 225px
    text-align: center
    +grid-prefix(4.5,12)
    +grid(3,12)
    +grid-suffix(4.5,12)
  #menu
    position: absolute
    top: 240px
    text-align: center
    +grid-prefix(4.5,12)
    +grid(3,12)
    +grid-suffix(4.5,12)

#container
  +grid(12)
  +clearfix
  margin-top: 55px
  #search
    position: absolute
    +grid-prefix(4,12)
    +grid(4,12)
    +grid-suffix(4,12)
    text-align: center
    input
      +border-radius(4px, 4px)
      font-family: 'Myriad Pro'
      background: rgba(255,255,255,1) url('/assets/search-icon.png') no-repeat 2px 40%
      width: 150px
      padding-left: 16px
  #newest_users
    +clearfix
    +grid(12,12)
    position: relative
    margin-top: 50px
    h2
      font-size: 1.4em
      color: #848484
      .pairing-type
        font-size: 1.1em
        font-family: 'Myriad Pro Italic'
        color: #1E1F1E
    #newest_remote_users
      +grid-prefix(2,12)
      +grid(4,12)
      +alpha
    #newest_local_users
      +grid-prefix(2,12)
      +grid(4,12)
      +omega
  .edit-user
    +grid-prefix(3,12)
    +grid(6,12)
    +alpha
    p
      +clearfix
      label
        float: left
      input
        float: right
      select
        float: right
      .tagify-container
        float: right
    #interests
      margin-top: 30px
    #licenses
      margin-top: 30px
    input[type='submit']
      margin-top: 30px
    .tagify-container input
      float: none

#footer
  +grid(12)
  +clearfix
  margin-top: 50px
  margin-bottom: 20px
  font-size: 0.8em
  a
    +link-colors(#848484)
  ul
    +horizontal-list
    +grid(2.5,12)
    +grid-prefix(4.75,12)
    +grid-suffix(4.75,12)
    display: block
    float: none
    li
      padding-right: 30px
      &:last-child
        padding-right: 0

@mixin non-first-user-info
  font-family: 'Myriad Pro Italic'
  padding-left: 27px
  margin-top: 1px

#search
  margin: 0
  +grid-prefix(4.89,12)
  z-index: 1
  position: absolute
  .search-icon
    position: absolute
    top: 0px
    background: rgba(0,0,0,0) url('/assets/search-icon.png') no-repeat 3px 50%
    width: 25px
    height: 25px
    z-index: 2
  input
    +border-radius(4px, 4px)
    position: relative
    font-family: 'Myriad Pro'
    width: 150px
    padding-left: 20px

.user
  +clearfix
  font-family: 'League Gothic'
  color: black
  padding: 10px 0
  margin: 10px 0px
  .user-image
    +float-left
    position: relative
    img.gravatar
      border: 1px solid #A9A7A3
    .magnifying-glass
      +opacity(0.3)
      position: absolute
      top: 0px
      left: 0px
      visibility: hidden
      height: 80px
      width: 80px
      background: rgba(0,0,0,0.7) url("/assets/user-hover-profile-icon.png") no-repeat 50% 50%
    &:hover .magnifying-glass
      visibility: visible
      background-color: black
  .user-info
    +float-left
    margin-left: 10px
    a
      text-decoration: none
      color: black
    h4
      line-height: 26px
    .user-name
      text-transform: uppercase
    .github-login
      +non-first-user-info
      background: url('/assets/github-profile.png') no-repeat
    .twitter-handle
      +non-first-user-info
      background: url('/assets/twitter-profile.png') no-repeat


#user-profile
  +grid-prefix(2,12)
  +grid(8,12)
  +grid-suffix(2,12)
  .avatar
    float: left
    margin-right: 15px
  h2
    float: left
  ul
    float: left
    width: 500px
    li
      float: none
  label
    font-weight: bold
    float: none
  .value
    float: right
  .lengthy
    width: 250px
  .interests
    a:hover
      background-color: #F3B0A2
    .value
      text-align: right
  .smaller
    font-size: 0.8em

#search-page
  +grid-prefix(2,12)
  +grid(8,12)
  +grid-suffix(2,12)

#about
  +grid-prefix(3,12)
  +grid(6,12)
  +grid-suffix(3,12)
  line-height: 1.4em
  div
    margin-top: 30px
  #credits
    li
      line-height: 25px
  p
    margin-top: 15px
    &:first-letter
      font-size: 1.3em

